*{
    font-family: 'Montserrat';
}

header h1{
    margin: auto;
    padding: 30px;
}

header{
    background-color: beige;
    right: 0;
    width: 100%;
    text-align: center;
}

section{
    padding-left:250px;
}

nav{
    background: beige;
    position: fixed;
    height: 100%;
    width: 250px;
    text-align: center;
    line-height: 221px;
    top: 0;
}

nav a {
    color: black;
    border: solid 1px black;
    width: 90%;
    font-size: 1.2em;
    display: block;
    margin: 25px auto;
    transition: 0.2s;
}

nav a:first-of-type{
    margin-top:0;
}

nav a:hover{
    background: black;
    color:beige;
    border:solid 1px beige;
    width: 100%;
}

#logo{
    width: 140px;
    height: 120px;
    float: left;
    margin: -19px 0px 0px 338px;
}

tbody td:first-of-type{
    width: 50px;
}

#add-img{
    width: 100px;
    height: 100px;
}