h1{
    font-size: 3.5em;
}

h1, h3{
    top:5%;
}

.portrait{
    bottom:350px;
    width: 200px;
    height: 200px;
    margin-left: -100px;
}

.open-btn:hover .portrait {
    bottom:350px !important;
    transform: scale(1.2);
}