.fp-viewing-section3 #myLife{
    transform: rotate(90deg);
    left:50%;
}

h3::before,h3::after{
    display: none;
}

section{
    padding: 0;
}

.a{
    padding-top: 100px;
}

header{
    display: none;
}

.a3 h3{
    top: 5%;
}

#myLife li span{
    top: 0 !important;
    bottom:0;
    background-color: #21282d;
}

#myLife ::before{
    display: none; 
}

#myLife ::after{
    display: none; 
}

#myLife li:nth-of-type(4) {
    left: 40%;
}

#myLife li:nth-of-type(5) {
    left: 50%;
}

#myLife li:nth-of-type(6) {
    right: 35%;
}

#myLife li:nth-of-type(7) {
    right: 20%;
}



.gridContain{
    top:5%;
    row-gap: unset;
    grid-template-columns: unset;
    margin-left: -150px;
}

.gridContain2{
    bottom:5%;
    row-gap: unset;
    grid-template-columns: unset;
    margin-right: -150px;
}

.login-popup {
    top:-50px;
}

.fp-tooltip{
    display: none !important;
}

.myHistory{
    margin: 20px auto 50px auto !important;
}

.form-container {
    border-top:unset;
    padding: 0;
}

.form-container input, .form-container select, .form-container textarea {
    margin: 0;
}