header{
    height: unset;
}

.a2::after, .a2::before{
    display: none;
}
.a2{
    padding: 70px 0 0 0;
}

.jauge{
    display: none !important;
}

.j1{
    display: block !important;
    height: 100%;
}

.wavesbox{
    bottom: 7px;
}


.active .waves {
    height: 100px !important;
    border-radius: unset;
}


.active .r1{
    transition: all 3.2s linear 0.4s;
}

#Jadoo img{
    margin: 25px auto;
}

.active .waves{
    bottom:0;
    transition: all 1s linear 3.5s;
}

.active .j1 {
    animation: unset;
    opacity: 1;
}

.fp-viewing-section3 #myLife{
    transform: rotate(90deg);
    width : 580px;
    margin-left: -280px;
    left:50%;
}

.a3 h3{
    top: 10%;
}

#myLife li span{
    transform: rotate(-90deg);
    left: -90px;
}

#myLife li:nth-child(2n+1) span{
    top:150px;
}

#myLife li:nth-child(2n) span{
    bottom:150px;
}

#myLife ::before{
    transform: rotate(-90deg);
    
}

#waterprojets li{
    width: 10vh;
    height: 10vh;
    margin: 50px auto  !important;
    position: initial;
}

#waterprojets #Jadoo img {
    margin: 15px auto;
}


.active li:first-of-type figure{
    transition: all 0.3s linear 0.8s;
}

.active li:nth-of-type(2) figure {
    transition: all 0.3s linear 1.2s;
}


.active li:nth-of-type(3) figure {
    transition: all 0.3s linear 1.6s;
}


.active li:nth-of-type(4) figure {
    transition: all 0.3s linear 2s;
}


.active li:nth-of-type(5) figure {
    transition: all 0.3s linear 2.4s;
}

#buttproj{
    display: none;
}